html {
  margin: 0;
  box-sizing: border-box !important;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  box-sizing: border-box !important;
}
* {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .responsive-video {
    height: 670px !important;
  }
  .singleImageGrid {
    width: 133px;
    height: 33px;
    object-fit: cover;
  }
  .iconStyle {
    width: 20px;
    height: 20px;
  }
  .techTeamImage {
    height: 600px;
  }
}

.curriculum-container {
  position: relative;
  max-width: 1080px;
  height: 280vh;
}

.sticky-section {
  position: sticky;
  top: 5vh;
  height: 90vh;
  padding: 10px 20px;
}

.progress-bar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.progress-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(108, 16, 188, 0.3);
  transition: background 0.3s ease;
}

.dot.active {
  background: rgba(108, 16, 188, 1);
}

.connector {
  width: 2px;
  height: 70px;
  background: transparent;
  transition: background 0.3s ease;
  flex-grow: 1;
}

.connector.active {
  background: rgba(108, 16, 188, 1);
}

.scroll-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
}
